.all-filters {
    overflow-x: auto;
    max-width: 1100px;

    &__group {
        display: flex;
        align-items: start;
        gap: 32px;

        &__item {
            min-width: 181px;
            border: 1px solid #E5E5E5;
            height: fit-content;
            padding: 8px 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            border-radius: 8px;

            & > div {
                @extend %title-14;
                width: 100%;
                height: 34px;
                padding: 8px 12px;
                color: #8D8D8D;
            }
        }
        
    }
}