.community {
    &__back {
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 17px;
    }

    &__navigation {
        @extend %title-14;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 24px;
    }

    &__card-cover {
        border: 1px solid #E5E5E5;
        padding: 24px;
        border-radius: 24px;
        margin-bottom: 32px;
    }

    &__card {
        display: flex;
        gap: 22px;

        &__middle {
            width: 100%;
        }

        &__name {
            display: flex;
            margin-bottom: 24px;
            white-space: nowrap;
           & >:first-child {
            @extend %title-14;
            color: #8D8D8D;
            margin-right: 45px;
           }
           & >:nth-child(2) {
            @extend %title-18;
            font-weight: 500;
            margin-right: 16px;
           }
        }

        &__description {
            display: flex;
            gap: 8px;
            margin-bottom: 24px;
            & >:first-child {
                @extend %title-14;
                color: #8D8D8D;
               }

               & >:nth-child(2) {
                line-height: 140%;
                width: 100%;
                max-width: 70ch;
               }
        }

        &__community-size {
            display: flex;
            margin-bottom: 16px;
            white-space: nowrap;
            & >:first-child {
             @extend %title-14;
             color: #8D8D8D;
             margin-right: 22px;
            }
            & >:nth-child(2) {
             margin-right: 29px;
            }
            & >:nth-child(3) {
                @extend %title-14;
                color: #8D8D8D;
                margin-right: 27px;
            }
            & >:nth-child(4) {
                white-space: break-spaces;
                word-break: break-all;
            }

            &__subscribe {
                display: flex;
                align-items: center;
                gap: 2px;
                font-weight: 500 !important;
                color: $secondary-color !important;
                margin-right: 64px !important;
            }
        }
        &__connector-size {
            display: flex;
            margin-bottom: 16px;
            white-space: nowrap;
            & >:first-child {
             @extend %title-14;
             color: #8D8D8D;
             margin-right: 22px;
            }
            & >:nth-child(2) {
             margin-right: 29px;
            }
            & >:nth-child(3) {
                @extend %title-14;
                color: #8D8D8D;
                margin-right: 27px;
            }
            & >:nth-child(4) {
                margin-right: 32px;
                white-space: break-spaces;
                word-break: break-all;
            }
            & >:nth-child(5) {
                @extend %title-14;
             color: #8D8D8D;
             margin-right: 22px;
            }

            
        }

        &__contact {
            @extend %primary-button;
            max-width: 328px;
            height: 42px;
            box-shadow: none;
            background: $secondary-color;
            margin: 32px auto 16px auto;
        }
    }

    &__divider {
        width: 100%;
        height: 1px;
        background: #E5E5E5;
        margin: 8px 0 24px 0;
    }

    &__details {
        padding-left: 99px;
        
        &__dropdown {
            @extend %title-18;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 34px;
        }

        &__button {
            @extend %primary-button;
            max-width: 318px;
            height: 66px;
            box-shadow: none;
            border-radius: 48px;
            background: $secondary-color;
            margin-left: 158px;
            margin-bottom: 16px;
        }

        &__info {
            @extend %title-14;
            margin-left: 158px;
            font-weight: 500;
        }

        &__grid {
            display: grid;
            grid-template-columns: 167px auto;
            gap: 24px 16px;

            & >:nth-child(odd) {
                @extend %title-14;
                color: #8D8D8D;
            }

            &__platforms {
                display: flex;
                gap: 8px;

                & > div {
                    @extend %title-14;
                    background: #F5F5F5;
                    border: 1px solid #F6911F33;
                    padding: 4px 8px;
                    border-radius: 18px;
                    cursor: pointer;
                }
            }
            }
    }

    &__related-communities {
        @extend %title-18;
        font-weight: 500;
        margin-bottom: 16px;

    }
}