.leads {
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        margin-bottom: 32px;

        &__card {
            width: 100%;
            height: 94px;
            border: 1px solid #D9D9D9;
            border-radius: 8px;
            padding: 12px 24px;
            display: flex;
            gap: 8px;

            &__group {
                & >:first-child {
                    @extend %title-14;
                    margin-top: 9px;
                    margin-bottom: 17px;
                }
            }
            &__number {
                @extend %title-24;
                font-weight: 600;
            }
            &__number-mini {
                font-weight: 600;
            }
        }
    }

    &__title {
        @extend %title-18;
        font-weight: 500;
        margin-bottom: 16px;
    }
}