.list-community {
    
    &__title {
        @extend %title-18;
        font-weight: 500;
        margin-bottom: 24px;
    }

    &__tabs {
        display: flex;
        gap: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid #E5E5E5;

        & > div {
            @extend %title-18;
            padding: 12px 16px;
            white-space: nowrap;
            font-weight: 500;
            cursor: pointer;
        }

        &__active {
            border-bottom: 1px solid $secondary-color;
            color: $secondary-color;
        }
    }

   & > form {
    & > div {
        width: 100%;
    max-width: 921px;
        & > input, & > select {
            @extend %primary-input;
            border-radius: 4px;
            margin-bottom: 24px;
            max-width: 100%;
        }
        & > textarea {
            @extend %primary-input;
            border-radius: 4px;
            margin-bottom: 24px;
            padding-top: 16px;
            height: 134px;
            max-width: 100%;
        }

        & > button {
            @extend %primary-button;
            max-width: 429px;
            margin: auto;
            margin-top: 40px;
        }
    
        & > a {
            & > button {
                @extend %primary-button;
                max-width: 429px;
                margin: auto;
                margin-top: 40px;
            }
        }

    }
   }
    &__input-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        max-width: 100%;

         & > div {
            & > select, & > input {
                @extend %primary-input;
                border-radius: 4px;
                margin-bottom: 24px;
            }
         }
    }

    &__file {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-bottom: 12px;


        &__group {
            width: 100%;
            height: 65px;
            border-radius: 4px;
            padding: 12px;
            gap: 32px;
            display: flex;
            align-items: center;
            background: #FAFAFA;

            
            & > button {
                @extend %title-14;
                width: 113px;
            height: 40px;
            border: 1.04px solid #31A653;
            border-radius: 8px;
            background: #FFF;
            }

        }

        & > button {
            width: 124px;
            height: 66px;
            background: #31A653;
            border-radius: 8px;
            border: none;
            font-weight: 600;
            font-size: 16.99px;
            color: #FFFFFF;
        }
    }

    &__file-info {
        color: #667085;
    }
}