.manage-network-details {
    &__grid {
        display: grid;
        grid-template-columns: 191px auto;
        gap: 32px 16px;
        align-items: center;

        & >:nth-child(odd) {
            color: #8D8D8D;
        }
        & >:nth-child(even) {
            @extend %title-18;
            font-weight: 500;
            line-height: 140%;
        }

        &__socials {
            display: flex;
            gap: 8px;

            & > div {
                @extend %title-18;
                font-weight: 500;
                background: #F5F5F5;
                border: 1px solid #F6911F33;
                padding: 6px 8px;
                border-radius: 18px;
            }
        }
        
    }

    &__divider {
        width: 100%;
        height: 1px;
        background: #E5E5E5;
        margin: 24px 0;
    }
}