.pricing {
  &__inner {
    max-width: 1351px;
    padding: 80px 20px 129px 20px;
    margin: 0 auto;

    @media (max-width: $phone) {
        padding: 60px 12px 57px 12px;
    }

    &__title {
        @extend %title-56;
        font-weight: 600;
        width: 100%;
        max-width: 20ch;
        margin-bottom: 64px;
        line-height: 78px;
        letter-spacing: -0.02em;

        @media (max-width: $phone) {
            font-size: 28px;
            line-height: 42px;
            margin-bottom: 32px;
           }
      }

    & > select {
      border: 1px solid #e5e5e5;
      border-radius: 24px;
      width: 205px;
      height: 48px;
      margin: 0 auto;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;

      @media (max-width: $phone) {
        margin-bottom: 24px;
        
       }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
           }

        &__card {
            padding: 32px;
            border-radius: 16px;
            border: 1px solid #E5E5E5;

            @media (max-width: $phone) {
                padding: 24px 16px;
               }

            &__title {
                @extend %title-24;
                font-weight: 400;
                margin-bottom: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: $phone) {
                    font-size: 16px;
                    margin-bottom: 12px;
                   }

                
      
            }

            &__title-group {
                display: flex;
                gap: 16px;
                align-items: center;
                margin-bottom: 24px;

                @media (max-width: $phone) {
                    gap: 12px;
                    margin-bottom: 12px;
                   }

                & >:first-child {
                    @extend %title-32;
                    font-weight: 600;

                    @media (max-width: $phone) {
                        font-size: 24px;
                       }
                }
                & >:last-child {
                    @extend %title-18;
                    font-weight: 500;

                    @media (max-width: $phone) {
                        font-size: 14px;
                       }
                }
            }

            &__subtitle {
                line-height: 140%;
                margin-bottom: 32px;

                @media (max-width: $phone) {
                    font-size: 14px;
                    margin-bottom: 16px;
                   }
            }

            & > button {
                @extend %primary-button;
                margin-bottom: 32px;

                @media (max-width: $phone) {
                    width: 100%;
                    height: 48px;
                    font-size: 18px;
                    margin-bottom: 16px;
                   }
            }

            &__features-title {
                @extend %title-18;
                margin-bottom: 16px;
                color: #8D8D8D;

                @media (max-width: $phone) {
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }

            &__features-grid {
                display: grid;
                grid-template-columns: 24px auto;
                gap: 24px 16px;

                @media (max-width: $phone) {
                    gap: 16px 8px;
                    font-size: 14px;
                }
                }
        }

       
        & >:nth-child(2) {
            background: #13100A;
            color: #FFF;

            

        }
    }
  }
}
