.privacy {
    
    &__inner {
        width: 100%;
        max-width: 1352px;
        padding: 0 20px;
        margin: 0 auto;
        padding: 80px 20px;

     

        &__banner {
            width: 100%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 32px;
        }

        &__body {
            margin-bottom: 8px;
            & > h1 {
                @extend %title-32;
                font-weight: 600;
                margin-bottom: 24px;
            }

            & > h2 {
                @extend %title-24;
                font-weight: 400;
                line-height: 140%;
                margin-bottom: 32px;
            }
            & > h3{
                @extend %title-18;
                line-height: 140%;
            }
            & > p {
                @extend %title-18;
                color: #8D8D8D;
                line-height: 140%;
                margin-bottom: 16px;

                & > span {
                    color: $text-color;
                }
            }

            & >ul {
                & > li {
                    @extend %title-18;
                    color: #8D8D8D;
                    line-height: 140%;

                    & > span {
                        color: $text-color;
                    }
                }
            }
        }

        &__explore {
            @extend %title-18;
            font-weight: 600;
            color: $secondary-color;
            text-decoration: underline;
            margin-bottom: 64px;
        }
    }
}