%primary-button {
  width: 100%;
  max-width: 599px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #df7c0d;
  border-radius: 28px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  box-shadow: 0px 2px 8px 0px #00000040 inset;
  border: none;

  @media (max-width: $phone) {
    width: 120px;
    font-size: 11px;
    height: 32px;
  }
}
