label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

input {
  accent-color: #028c4b;
}

textarea {
  padding-top: 12px;
}

%primary-input {
  border: 1px solid #e5e5e5;
  width: 100%;
  max-width: 599px;
  height: 56px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding: 0 24px;

  & > input {
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 14px;
      color: #8d8d8d;
    }
  }
}

%otp-input {
  width: 100%;
  height: 64px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  background: none;
  font-size: 48px;
  text-align: center;
}

%otp-input-italics::placeholder {
}
