.categories {
  width: 100%;

  &__title {
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    & > a {
      width: 100%;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fafafa;
      font-weight: 500;
      border-radius: 15px;
      cursor: pointer;

      &:hover {
        background: $secondary-color !important;
        color: #FFF;
      }
    }
  }
}
