.contact-info-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000066;
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 100%;
    max-width: 520px;
    min-height: 153px;
    background: #fff;
    border-radius: 8px;
    padding-bottom: 39px;

    &__title-group {
      padding-top: 25px;
      padding-bottom: 17px;
      border-bottom: 1px solid #e5e5e5;
      padding: 25px 24px 17px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    &__grid {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;
        padding: 0 24px;
        row-gap: 24px;


        & >:nth-child(odd) {
            color: #8D8D8D;
        }

        & >:nth-child(even) {
            @extend %title-18;
            font-weight: 500;
            text-align: right;
        }
    }
  }
}
