.deactivation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000053;

    &__inner {
        width: 100%;
        max-width: 467px;
        height: fit-content;
        border-radius: 16px;
        padding: 32px 47px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFF;

        & > img {
            margin-bottom: 16px;
        }

        &__title {
            @extend %title-24;
            font-weight: 600;
            margin-bottom: 16px;
        }

        &__subtitle {
            color: #8D8D8D;
            margin-bottom: 16px;
            text-align: center;
        }

        & > label {
            width: 100%;
        }

        
    &__button-group {
        width: 100%;
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: 32px;

        & > button {
            width: 100%;
            height: 42px;
            font-weight: 600;
        }
        
        & >:first-child {
            border: 1px solid #E5E5E5;
        border-radius: 4px;
         color: #8D8D8D;
         background: none;
        }
        & >:last-child {
            background: $secondary-color;
            border: none;
            border-radius: 4px;
            color: #FFF;
        }
    }
    &__button-group-green {
        width: 100%;
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: 32px;

        & > button {
            width: 100%;
            height: 42px;
            font-weight: 600;
        }
        
        & >:first-child {
            border: 1px solid var(--Error, #DA1E28);
        border-radius: 4px;
         color: #DA1E28;
         background: none;
        }
        & >:last-child {
            background: #42BE65;
            border: none;
            border-radius: 4px;
            color: #FFF;
        }
    }
    }
}