.delete-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0000002c;
    
        &__inner {
            width: 100%;
            max-width: 278px;
            padding: 16px 0;
            background: #FFFFFF;
            border-radius: 8px;

            &__title-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 500;
                margin-bottom: 8px;
                padding: 0 16px;
            }

            &__subtitle {
                @extend %title-14;
                color: #8D8D8D;
                margin-bottom: 24px;
                padding: 0 16px;
            }

            &__button-group {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: end;
                padding: 0 16px;
                padding-top: 24px;
                border-top: 1px solid #E5E5E5;

                & > button {
                    width: 82px;
                    height: 33px;
                    font-weight: 600;
                }

                & >:first-child {
                    width: 82px;
                    height: 33px;
                    border: 1px solid #E5E5E5;
                    border-radius: 4px;
                    background: none;
                    color: #8D8D8D;
                }
                & >:last-child {
                    border: 1px solid #E5E5E5;
                    border-radius: 4px;
                    background: #F6911F;
                    color: #FFF;
                }
            }
        }
}