.email-sent-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000002c;

    &__inner {
        width: 100%;
        max-width: 466px;
        height: 306px;
        padding: 24px 32px;
        background: #FFFFFF;
        border-radius: 15px;

        &__close {
            margin-bottom: 24px;
            display: flex;
            justify-content: end;
        }

        &__correct {
            margin-bottom: 16px;
            margin: auto;
            width: fit-content;
        }
        &__title {
            @extend %title-24;
            text-align: center;
            margin-bottom: 16px;
        }
        &__subtitle {
            @extend %title-14;
            text-align: center;
            color: #808080;
            margin: 0 auto;
            margin-bottom: 24px;
            width: 100%;
            max-width: 34ch;
            line-height: 140%;
        }

       & > a {
        & > button {
            @extend %primary-button;
        }
       }
    }
}