.filters {
  width: 100%;
  max-width: 1100px;
  overflow-x: auto;
  margin: 0 auto;
  margin-bottom: 32px;

  &::-webkit-scrollbar {
    display: none;
  }
  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
  }

  &__all {
    @extend %title-14;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
  }
  &__item {
    @extend %title-14;
    color: #8d8d8d;
    border: 1px solid #e5e5e5;
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
  }
}
