.filters-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 414px;
    height: 100vh;
    padding-top: 72px;
    background: #FFF;
    z-index: 3;

    &__header {
        @extend %title-18;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        padding: 0 32px;
        padding-bottom: 17px;
        border-bottom: 1px solid #E5E5E5;
    }

    &__input-group {
        @extend %title-18;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #8D8D8D;
        padding: 0 32px;
        margin-top: 32px;
        cursor: pointer;

        &__active {
            color: #161616 !important;
        }

        & > input {
            accent-color: $secondary-color;
            width: 32px;
            height: 32px;
        }
    }
}