.footer {
  width: 100%;
  background: #13100A;
  color: #FFFFFF;
  padding: 0 !important;
  margin: 0 !important;



  &__inner {
    width: 100%;
    max-width: 1352px;
    margin: 0 auto;
    padding: 64px 20px;
    // height: 400px;

    
    @media (max-width: $tablet-pro) {
      flex-direction: column;
      align-items: start;
      padding: 24px 12px;
    }
  

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 64px;
      // display: none;

        @media (max-width: $tablet-pro) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 24px;
    height: fit-content;
  }

      & > nav {
        @extend %title-18;
        display: flex;
        align-items: center;
        gap: 32px;
        color: #8D8D8D;

          @media (max-width: $tablet-pro) {
    flex-direction: column;
    align-items: start;
    margin: 24px 0;
  }

        & > a {
          transition: 0.4s;
          &:hover {
            color: #FFF;
          }
        }
      }

      &__socials {
        display: flex;
        align-items: center;
        gap: 24px;

      }
    }

    &__contact-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 48px;
      gap: 24px;
      // display: none;

      @media (max-width: $tablet-pro) {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: 24px;
      }

      &__card1 {
        &__title {
          @extend %title-24;
        font-weight: 600;
        margin-bottom: 24px;
        }

        &__grid {
          @extend %title-18;
          display: grid;
          grid-template-columns: 76px 180px;
          gap: 15px;
          line-height: 140%;
        }
      }

      &__form {
        padding: 24px;
        border-radius: 16px;
        background: #2a2722;
        display: flex;
        align-items: center;
        gap: 16px;
        // display: none;

        & > input {
          width: 302px;
          height: 46px;
          border-radius: 24px;
          border: 1px solid #FFFFFF;
          background: none;
          padding-left: 16px;
          font-size: 16px;
          color: #FFFFFF;

          @media (max-width: $tablet-pro) {
            width: 100%;
            max-width: 302px;
          }
          @media (max-width: $phone) {
            width: 219px;
            max-width: unset;
          }

          &::placeholder {
            color: #FFFFFF;
          }
        }

        & > button {
          @extend %primary-button;
          width: 201px;
          max-width: unset;
          padding: 0 57px;

          @media (max-width: $phone) {
            width: 120px;
          }
        }
      }
    }

    &__copy {
      @extend %title-14;
      width: 100%;
      height: 70px;
      border-top: 1px solid #FFFFFF;
      display: flex;
      align-items: end;
      justify-content: center;
      gap: 60px;
      flex-wrap: wrap;
      // display: none;

      @media (max-width: $phone) {
        gap: 0;
        // background: yellow;
      }

      & >:last-child {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}