.landing-header {
  position: relative;
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 20px;
  height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet) {
    height: 56px;
    background: #fff;
  }

  & > :first-child {
    & > img {
      @media (max-width: $tablet) {
        width: 114px;
        height: 22.80074119567871px;
      }
    }
  }

  & > nav {
    @extend %title-18;
    font-weight: 500;
    color: #8d8d8d;
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__logo-desktop {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__logo-mobile {
    display: none;
    @media (max-width: $tablet) {
      display: initial;
    }
  }

  &__button-group {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: $tablet) {
      display: none;
    }

    & > :first-child {
      @extend %title-24;
      font-weight: 500;
      color: $secondary-color;
      background: none;
      border: none;
      text-decoration: underline;
    }
    & > :last-child {
      @extend %primary-button;
      width: fit-content;
      height: 48px;
      padding: 0 33px;
      white-space: nowrap !important;
    }
  }

  &__active {
    color: $secondary-color;
  }

  &__hamburger {
    display: none;
    @media (max-width: $tablet) {
      display: initial;
    }
  }

  &__mobile-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 8px 0 72px 12px;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.4s;

    & > nav {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 24px;
      padding-top: 18px;
      & > a {
        @extend %title-18;
        font-weight: 500;
        color: #8d8d8d;
      }
    }

    &__button-group {
      position: relative;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin: 0 auto;
      // transform: translateY(-300px);

      // opacity: 0;

      & > :first-child {
        @extend %title-18;
        width: 201px;
        padding: 13px 24px;
        background: #fff6eb;
        font-weight: 500;
        border-radius: 24px;
        color: $secondary-color;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $phone) {
          width: 120px;
          font-size: 11px;
          height: 32px;
        }
      }
      & > :last-child {
        @extend %primary-button;
        max-width: 201px;
        padding: 13px 24px;
        white-space: nowrap;
      }
    }
  }

  &__mobile-menu-active {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
