.manage-network-table {
  width: 100%;
  height: fit-content;
  border: 1px solid #efefef;
  border-radius: 12px;
  position: relative;
  padding-bottom: 10px;

  @media (max-width: 565px) {
    overflow-x: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    border-bottom: 1px solid #efefef;
    background: #fafafa;

    border-radius: 12px 12px 0px 0px;

    @media (max-width: 565px) {
      width: 800px;
    }

    & > :first-child {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #f0f2f5;
      border-radius: 8px;
      padding: 8px 12px;

      & > button {
        @extend %title-18;
        font-weight: 500;
        min-width: 115px;
        height: 46px;
        outline: none;
        border-radius: 4px;
        background: none;
        border: none;
        color: #8d8d8d;
        padding: 12px;
      }

      .active {
        border: 1px solid $secondary-color;
        background: #fff;
        box-shadow: -2px 2px 2px 0px #f6911f1a;
        color: $text-color;
      }

      & > div {
        width: 1px;
        height: 19px;
        background: #e4e7ec;
      }
    }

    & > :last-child {
      button {
        min-width: 10.3rem;
        height: 4.2rem;
        outline: none;
        border-radius: 8px;
        border: none;
        color: #898989;
        font-size: 1.4rem;
        font-weight: 400;
        background: #f0f2f5;
      }

      .active {
        border: 1px solid #063;
        background: #fff;
        box-shadow: -2px 2px 2px 0px rgba(0, 102, 51, 0.05);
      }
    }
  }

  &__label {
    width: 100%;
    @extend %title-14;
    color: #000000;

    & > thead {
      width: 100%;
      border-bottom: 1px solid rgba(177, 177, 177, 0.4);

      & > tr {
        & > th {
          padding: 20px 0;
          background: #f5f5f5;
        }

        & >:last-child {
            padding-right: 10px;
        }
      }
    }

    & > tbody {
        width: 100%;
        & > tr {
            border-bottom: 1px solid #E5E5E5;
            & > td {
                padding: 20px 0;;
                background: #fff;
                text-align: center;
            }

            & >:last-child {
                padding-right: 10px;
            }

        }
    }
    //   display: grid;
    //   grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 0.3fr;
    //   color: #1a1a1a;
    //   align-items: center;
    //   font-size: 1.2rem;
    //   font-weight: 500;
    //   height: 44px;
    //   padding: 0 24px;
    //   border-bottom: 1px solid rgba(177, 177, 177, 0.4);
    //   background: #fafafa;
    //   gap: 20px;
    //   text-align: center;

    // @media (max-width: 565px) {
    //   width: 800px;
    // }
  }
  &__item {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 0.3fr;
    align-items: center;
    height: 72px;
    background: #fff;
    padding: 0 24px;
    gap: 20px;
    cursor: pointer;
    text-align: center;

    @media (max-width: 565px) {
      width: 800px;
    }

    &:hover {
      border-top: 1px solid #063;
      border-bottom: 1px solid #063;
    }

    & > div {
      color: #1a1a1a;
      font-size: 1.4rem;
      font-weight: 500;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}
