.sidebar {
    width: 265px;
    max-width: 265px;
    background: #FAFAFA;
    padding-bottom: 40px;
    &__logo {
        width: 100%;
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__form {
        width: 100%;
        height: 56px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 32px;
        font-weight: 500;

    }

    &__nav {
        &__item {
            width: 100%;
            height: 56px;
            padding: 0 32px;
            margin-top: 32px;
            display: flex;
            align-items: center;
            gap: 8px;
            color: #8D8D8D;
            cursor: pointer;
        }

        &__item-active {
            background: #FFF;
            color: #000;
        }
    }

    &__plan {
       width: 100%;
       padding: 0 32px;
       margin: 124px 0 64px 0;
       
       &__inner {
           width: 100%;
           height: 130px;
           border-radius: 16px;
           background: #fff;
        &__title {
            @extend %title-14;
            padding: 16px 24px;
           }
    
           &__line {
            width: 100%;
               height: 1px;
            background: #E5E5E5;
            margin-bottom: 16px;
           }
    
           & > button {
@extend %primary-button;
max-width: fit-content;
padding: 0 16px;
margin: 0 auto;
           }
       }

    }

    &__account {
        width: 100%;
        padding: 0 32px;
        display: flex;
        align-items: center;
        gap: 8px;

        &__initials {
            font-weight: 500;
            color: #FFF;
            min-width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #DF7C0D;
        }

        &__name {
            font-weight: 500;
            margin-bottom: 4px;
        }
        &__email {
            @extend %title-12;
            color: #8D8D8D;
        }
    }
}