


$text-color: #161616;
$secondary-color: #F6911F;



$text-normal: 16px;

/** Break Points **/
$LGdesktop: 1920px;
$desktop: 1366px;
$tablet-pro: 1204px;
$tablet: 768px;
$phone: 565px;
/** Break Points **/