.settings-notifications {
  &__inner {
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 32px;
    &__title {
        font-weight: 500;
        margin-bottom: 10px;
    }
    

    &__group {
        @extend %title-14;
        color: #8D8D8D;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #E5E5E5;
        border-radius: 8px;
        padding: 14px 24px;
        margin-bottom: 16px;

        &__switch {
            width: 28px;
            height: fit-content;
            border-radius: 25px;
            // position: relative;
            cursor: pointer;
            padding: 2px;
            display: flex;
            align-items: center;
            border: 1px solid #494747;
  
           
  
            &__ball {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #494747;
              transition: 0.4s;
              box-shadow: 0px 1px 2px 0px #1018280F;
            box-shadow: 0px 1px 3px 0px #1018281A;
            }
          }
  
          &__switch-active {
            border-color: $secondary-color;
  
            & > div {
              transition: 0.4s;
              transform: translate(95%, 0);
              background: $secondary-color;
            }
          }

          &:last-child {
            margin-bottom: 32px !important;
          }
    }
  }
}