.password {
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    padding: 24px;
    
    &__group {
        display: grid;
        grid-template-columns: 90px auto;
        align-items: center;
        gap: 38px;

        & > label {
            @extend %title-14;
            color: #8D8D8D;
            white-space: nowrap;
            margin-bottom: 0 !important;    
        }

        &__input {
            width: 100%;
            font-size: 16px;
            height: 42px;
        }

    }
    &__disclaimer {
        @extend %title-14;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 16px;
    }

    &__grid {
        @extend %title-14;
        display: grid;
        grid-template-columns: 60px auto;
        gap: 8px;
        margin-bottom: 16px;

        & >:nth-child(odd) {
            color: #8D8D8D;
        }
        & >:nth-child(even) {
            font-weight: 500;
        }
    }

    &__verification-info {
        @extend %title-14;
        color: #8D8D8D;
        display: flex;
        align-items: start;
        gap: 4px;
        margin-bottom: 32px;
    }

    &__submit-button {
        @extend %primary-button;
        max-width: 378px;
        border-radius: 4px;
        box-shadow: none;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    &__not-received {
        @extend %title-14;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 3px;

        & > span {
            text-decoration: underline;
            font-weight: 500;
            color: $secondary-color;
        }
    }
}