.payment {
    &__card1 {
        border: 1px solid #E5E5E5;
        padding: 24px;
        border-radius: 24px;
        margin-bottom: 32px;

        &__title {
            font-weight: 500;
            margin-bottom: 16px;
        }

        &__subtitle {
            @extend %title-14;
            color: #8D8D8D;
            margin-bottom: 16px;
        }

        &__amount {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 26px;

            & >:first-child {
                @extend %title-24;
                font-weight: 600;
                color: $secondary-color;
            }
        }

        &__divider {
            width: 100%;
            background: #E5E5E5;
            height: 1px;margin-bottom: 12px;
        }

        &__cancel {
            @extend %title-14;
            width: 100%;
            font-weight: 600;
            color: #8D8D8D;
            text-align: right;
            text-decoration: underline;
        }
    }

    &__history {
        &__title {
            @extend %title-18;
            font-weight: 500;
            margin-bottom: 12px;
        }

        & > table {
            & > thead {
               
                & > tr {
                   
                    & > th {
                        border-top: 1px solid #E5E5E5;
                    background: none !important;
                    color: #8D8D8D;
                    }
                }
            }

            & > tbody {
                font-size: 16px;

                & > tr {
                    align-items: center;

                    & > td {
                        
                    }
                }
            }
        }
    }
}